body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    color: sandybrown;
}
.highlighter{
    color: orange;
}
p{
    color:dimgray;
}
.half{
    width: 40%; 
    float: left;  
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.topbanner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,Tomato);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.dream{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
    background-color: white;
}
.exp{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#borderR{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#borderL{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    font-size: 12px;
    text-align: center;

}